<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alterar Senha</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<header class="bg-dark text-white p-3 mb-4">
    <div class="container d-flex justify-content-between align-items-center">
        <h1 style="color: rgb(255, 255, 255);" class="h4 mb-0">Você está autenticado.</h1>
        <div>
            <a href="{{ url_for('account_settings') }}" class="btn btn-outline-light btn-sm mx-2">Configurações de Conta</a>
            <a href="{{ url_for('report') }}" class="btn btn-outline-light btn-sm mx-2">Gerar Relatório</a>
            <a href="{{ url_for('logout') }}" class="btn btn-outline-light btn-sm mx-2">Sair</a>
        </div>
    </div>
</header>

<body style="background-color: #f8f9fa;">
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="col-md-6 bg-white p-4 rounded shadow-sm">
            <h1 class="text-center mb-4">Alterar Senha</h1>

            <!-- Exibição de mensagens de flash -->
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert {{ category }} text-center">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% endwith %}

            <!-- Formulário de alteração de senha -->
            <form method="POST" action="{{ url_for('change_password') }}">
                <div class="form-group">
                    <input type="password" name="old_password" placeholder="Senha Antiga" class="form-control" required>
                </div>
                <div class="form-group">
                    <input type="password" name="new_password" placeholder="Nova Senha" class="form-control" required>
                </div>
                <div class="form-group">
                    <input type="password" name="confirm_password" placeholder="Confirmar Nova Senha" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Alterar Senha</button>
            </form>

            <p class="text-center mt-3"><a href="{{ url_for('home') }}">Voltar para a Página Inicial</a></p>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
